@model TTMH_EDA_HIS.ViewModels.ChartsViewModel
@{
    ViewData["Title"] = " 批價";

    List<string> statusList = new List<string> { "健保", "非健保", "未知"};
}

@section CSS{
    <link rel="stylesheet" href="~/lib/sweetalert2/sweetalert2.css" />
    <link rel="stylesheet" href="~/css/theme.css" asp-append-version="true" />
    <style>
        @@media (max-width:1780px) {
            .ED-media-1 {
                margin-top: 30px;
                width: 100% !important;
            }
        }

        .SC-input-button-form_submit {
            background-color: #4443a3;
            border-radius: 10px;
            border: 0px solid;
            color: white;
            font-size: 27px;
            padding: 15px;
            width: 85%;
        }

            .SC-input-button-form_submit:hover {
                background-color: #5554b4;
            }

            .SC-input-button-form_submit:focus {
                background-color: #5554b4;
            }

        .SC-btn {
            width: 152px;
            height: 52px;
            padding: 5px;
            background-color: #008F8D;
        }
    </style>
}
@*大框架*@
<div class="container p-5">
    <div class="row" >
        @*病人個資*@
        <div class="col-4 me-3">
            <div class="py-3 row AT-bg-secondary-emphasis AT-rounded-1 rounded-4">
                <div class="col-12">
                    <div class="col-4 d-flex justify-content-center badge AT-bg-primary-deep AT-fs-25 text-wrap" >
                        @{
                            var status = Model.Patient.Status ?? "";
                        }
                        <p class="AT-fs-25 text-white">
                            <div class="align-middle">
                                @if (status == "HealthInsurance") { @statusList[0] }
                                else if (status == "NonHealthInsurance") { @statusList[1] }
                                else { @statusList[2] }
                            </div>
                        </p>  
                    </div>
                </div>
                <div class="col-4">
                    <p class="AT-fs-25 text-white lh-lg text-end mt-3">繳費條號</p>
                    <p class="AT-fs-25 text-white lh-lg text-end mt-3">病例編號</p>
                    <p class="AT-fs-25 text-white lh-lg text-end mt-3">病患姓名</p>
                    <p class="AT-fs-25 text-white lh-lg text-end mt-3">性別</p>
                    <p class="AT-fs-25 text-white lh-lg text-end mt-3">出生年月日</p>
                    <p class="AT-fs-25 text-white lh-lg text-end mt-3">年齡</p>
                    <p class="AT-fs-25 text-white lh-lg text-end mt-3">看診醫生</p>
                    <p class="AT-fs-25 text-white lh-lg text-end mt-3">看診日期</p>
                </div>
                <div class="col">
                    <p class="AT-fs-25 text-white lh-lg mt-3">@Model.DetId</p>
                    <p class="AT-fs-25 text-white lh-lg mt-3">@Model.Patient.CaseHistory</p>
                    <p class="AT-fs-25 text-white lh-lg mt-3">@Model.Patient.PatientName</p>
                    @if (Model.Patient.Gender == "1")
                    {
                        <p class="AT-fs-25 text-white lh-lg mt-3">
                            男
                        </p>
                    }
                    else if (Model.Patient.Gender == "2")
                    {
                        <p class="AT-fs-25 text-white lh-lg mt-3">
                            女
                        </p>
                    }
                    <p class="AT-fs-25 text-white lh-lg mt-3">@Model.birthday</p>
                    <p class="AT-fs-25 text-white lh-lg mt-3">@Model.age </p>
                    <p class="AT-fs-25 text-white lh-lg mt-3">@Model.docsName</p>
                    <p class="AT-fs-25 text-white lh-lg mt-3">@Model.Vdate</p>
                </div>
            </div>
        </div>

        @*查詢/批價內容*@
        <div class="col row justify-content-center">
            @*輸入框*@
            <input onkeypress="SearchKey(event)" id="search" type="text" class="form-control AT-fs-25 border-4 border-AT-fg-primary-deep " placeholder="請輸入繳費條號">
            @*批價內容*@
            <!-- 圓角 + background   AT-rounded-1 AT-bg-fourth -->
            <div class="row m-3 mx-5 justify-content-center AT-bg-fourth AT-rounded-1">
                <div class="d-flex flex-row">
                    <!-- 項目 -->
                    <div class="col-6 pt-3">
                        <div class="AT-fs-30 text-secondary">
                            項目
                        </div>
                    </div>
                    <!-- 金額 -->
                    <div class="col-6 pt-3">
                        <div class="AT-fs-30 text-secondary">
                            金額
                        </div>
                    </div>
                </div>
                <hr class="BS-border border-3 opacity-75" />
                <div class="d-flex flex-row">
                    @*style="height: 70%"*@
                    <!-- 項目內容 -->
                    <div class="col-6">
                        <div class="AT-fs-30 text-secondary">
                            <p class="AT-fs-25 text-black lh-lg">掛號費</p>
                            <p class="AT-fs-25 text-black lh-lg">診察費</p>
                            <p class="AT-fs-25 text-black lh-lg">部分負擔</p>
                            <p class="AT-fs-25 text-black lh-lg">藥品部分負擔</p>
                            <p class="AT-fs-25 text-black lh-lg">藥費</p>
                        </div>
                    </div>
                    <!-- 金額內容 -->
                    <div class="col-6">
                        <div class="AT-fs-30 text-secondary"></div>
                        <p class="AT-fs-25 text-black lh-lg">@Model.Registration</p>
                        <p class="AT-fs-25 text-black lh-lg">@Model.Diagnostic</p>
                        <p class="AT-fs-25 text-black lh-lg">@Model.PartialPayment</p>
                        <p class="AT-fs-25 text-black lh-lg">@Model.DrugPartialPayment</p>
                        <p class="AT-fs-25 text-black lh-lg">@Model.MedicalCost</p>
                    </div>
                </div>
                <hr class="BS-border border-3 opacity-75" />
                <div class="d-flex flex-row">
                    <!-- 空白 -->
                    <div class="col">
                        <div class="AT-fs-30 text-secondary">
                        </div>
                    </div>
                    <!-- 應繳金額 -->
                    <div class="col-6 mb-3">
                        <div class="AT-fs-30 text-secondary">
                            應繳金額：@Model.Payable 
                        </div>
                    </div>
                </div>
            </div>
            @*完成繳費按鈕*@
            <div class="row d-flex flex-row mx-3">
                @*空白*@
                <div class="col-8"></div>
                @*按鈕*@
                <div class="col-4 d-flex justify-content-center">
                    <form asp-action="ChartsDetails" method="post">
                        <input type="text" asp-for="DetId" value="@Model.DetId" style="display:none;">
                        <button type="submit" class="BS-btn SC-input-button-form_submit btn m-4 p-2" style="width:220px;height:60px;">
                            @*id="Post"*@
                            完成繳費
                        </button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

@section Script{
    <script src="~/lib/sweetalert2/sweetalert2.all.js"></script>
    <script>

        const StatusCode = @Model.StatusCode;
        //const PaymentTime = "Model.PaymentTime.ToString()"";

        function SearchKey(event) {
            var search = document.getElementById("search");
            if (event.key == "Enter") {
                window.location.assign(`https://${location.hostname}:${location.port}/ChartsView/ChartsDetailsSearch?q=${search.value}`);
            }
        }

        window.onload = () => {
            switch (StatusCode) {
                case 1: //Paid
                    Swal.fire({
                        icon: 'warning',
                        title: 'Oops...',
                        text: '已繳費過了',
                        //footer: '<a href="">Why do I have this issue?</a>'
                    });
                    break;
                case 2: //No Result
                    Swal.fire({
                        icon: 'error',
                        title: 'Oops...',
                        text: '查無資料',
                        //footer: '<a href="">Why do I have this issue?</a>'
                    });
                    break;
                case 3:
                    Swal.fire({
                        position: 'center',
                        icon: 'success',
                        title: '完成繳費',
                        showConfirmButton: false,
                        timer: 1500
                    });
                    break;
            }
            if (StatusCode <= 4 && StatusCode > 0) {
                document.querySelector("form button").setAttribute("disabled", "");
            }
        }

    </script>
}
