@model TTMH_EDA_HIS.ViewModels.PresViewModel
@{
    ViewData["Title"] = " 藥局 ";
}

@section CSS{
    <link rel="stylesheet" href="~/css/theme.css" asp-append-version="true" />
    <style>
        @@media (max-width:1080px) {
            .ED-media-1 {
                margin-top: 30px;
                width: 100% !important;
            }

            .CT-tbody-ColorInterval tr > td {
                font-size: 25px !important;
            }

            .MD-adjust-3 p {
                font-size: 15px !important;
            }
        }

        /* @@media (max-width:900px) {
                    .MD-adjust-3 p{
                        font-size: 50px !important;
                    }
                }*/

        .SC-input-button-form_submit {
            background-color: #4443a3;
            border-radius: 10px;
            border: 0px solid;
            color: white;
            font-size: 27px;
            padding: 15px;
            width: 85%;
        }

            .SC-input-button-form_submit:hover {
                background-color: #5554b4;
            }

            .SC-input-button-form_submit:focus {
                background-color: #5554b4;
            }

    </style>
}
@*大框架*@
<div class="container-lg">
    <!-- 搜尋 -->
    <div class="row my-3 mx-5 d-flex justify-content-center">
        @*第一版*@
        @*<form asp-action="PharmacyDetails" asp-route-id="" method="post" class="d-flex justify-content-center row">
        <div class="form-group col m-3">
        <input asp-for="content" type="text" class="form-control AT-fs-25 border-4 border-AT-fg-primary-deep" placeholder="請輸入領藥號/病例編號">
        </div>
        </form>*@
        @*第二版*@
        <input onkeypress="SearchKey(event)" id="search" type="text" class="form-control m-3 AT-fs-25 border-4 border-AT-fg-primary-deep" placeholder="請輸入領藥號">


    </div>
    <!-- 病人資訊 -->
    <div class="row d-flex justify-content-center">
        <div class="container-lg  col-11 mx-5 my-3 py-3 row ED-media-1  AT-bg-secondary-emphasis  AT-rounded-1 d-flex justify-content-center">
            <div class="row d-flex justify-content-center">
                <div class="MD-adjust-3 col-3 d-flex mx-3">
                    <p class="AT-fs-25 text-white lh-lg text-end">領藥號：</p>&nbsp;
                    <p class="AT-fs-25 text-white lh-lg text-end">@Model.PresNo</p>
                </div>
                <div class="MD-adjust-3 col-3 d-flex mx-3">
                    <p class="AT-fs-25 text-white lh-lg text-end">病例編號：</p>&nbsp;
                    <p class="AT-fs-25 text-white lh-lg text-end">@Model.Patient.CaseHistory</p>
                </div>
                <div class="MD-adjust-3 col-3 d-flex mx-3">
                    <p class="AT-fs-25 text-white lh-lg text-end">病患姓名：</p>&nbsp;
                    <p class="AT-fs-25 text-white lh-lg text-end">@Model.Patient.PatientName</p>
                </div>
            </div>

            <div class="row d-flex justify-content-center">
                <div class="col-3 MD-adjust-3 d-flex mx-3">
                    <p class="AT-fs-25 text-white lh-lg text-end">性別：</p>&nbsp;
                    @if (Model.Patient.Gender == "1")
                    {
                        <p class="AT-fs-25 text-white lh-lg text-end">
                            男
                        </p>
                    }
                    else if (Model.Patient.Gender == "2")
                    {
                        <p class="AT-fs-25 text-white lh-lg text-end">
                            女
                        </p>
                    }
                </div>
                <div class="col-3 MD-adjust-3 d-flex mx-3">
                    <p class="AT-fs-25 text-white lh-lg text-end">出生年月日：</p>&nbsp;
                    <p class="AT-fs-25 text-white lh-lg text-end">@Model.birthday</p>
                </div>
                <div class="col-3 MD-adjust-3 d-flex mx-3">
                    <p class="AT-fs-25 text-white lh-lg text-end">年齡：</p>&nbsp;
                    <p class="AT-fs-25 text-white lh-lg text-end">@Model.age</p>
                </div>
            </div>

            <div class="row d-flex justify-content-center">
                <div class="col-3 MD-adjust-3 d-flex mx-3">
                    <p class="AT-fs-25 text-white lh-lg text-end">看診醫生：</p>&nbsp;
                    <p class="AT-fs-25 text-white lh-lg text-end">@Model.docsName</p>
                </div>
                <div class="col-3 MD-adjust-3 d-flex mx-3">
                    <p class="AT-fs-25 text-white lh-lg text-end">看診日期：</p>&nbsp;
                    <p class="AT-fs-25 text-white lh-lg text-end">@Model.Vdate</p>
                </div>
                <div class="col-3 MD-adjust-3 d-flex mx-3">
                    <p class="AT-fs-25 text-white lh-lg text-end" style="display: none">領藥時間</p>&nbsp;
                    <p class="AT-fs-25 text-white lh-lg text-end" style="display: none">@Model.DrugDate</p>
                </div>
            </div>
        </div>
    </div>

    <!-- 開藥內容 -->
    <div class="row">
        <div class="container-lg col-11 py-4 ED-BadgeTablePosition-2">
            <table class="ED-BadgesTable-2 w-100">
                <thead>
                    <tr>
                        <th class="AT-fs-25 AT-bg-secondary-emphasis text-white ED-Font-Size-2 col-2  ps-5 text-start py-3" style="border-top-left-radius:25px;">
                            藥品編號
                        </th>
                        <th class="AT-fs-25 AT-bg-secondary-emphasis text-white ED-Font-Size-2 col-2 py-3 text-start">
                            藥品名稱
                        </th>
                        <th class="AT-fs-25 AT-bg-secondary-emphasis text-white ED-Font-Size-2 col-1 py-3 text-start">
                            用法
                        </th>
                        <th class="AT-fs-25 AT-bg-secondary-emphasis text-white ED-Font-Size-2 col-1 py-3 text-start">
                            頻率
                        </th>
                        <th class="AT-fs-25 AT-bg-secondary-emphasis text-white ED-Font-Size-2 col-1 py-3 text-start">
                            次量
                        </th>
                        <th class="AT-fs-25 AT-bg-secondary-emphasis text-white ED-Font-Size-2 col-1 py-3 text-start">
                            天數
                        </th>
                        <th class="AT-fs-25 AT-bg-secondary-emphasis text-white ED-Font-Size-2 col-1 py-3 text-start">
                            總量
                        </th>
                        <th class="AT-fs-25 AT-bg-secondary-emphasis text-white ED-Font-Size-2 col py-3 text-start" style="border-top-right-radius:25px;">
                            註
                        </th>
                    </tr>
                </thead>
                <tbody class="AT-fs-25 CT-tbody-ColorInterval">
                    @foreach (PresViewModel_Drug drug in Model.Drugs)
                    {
                        <tr>
                            <td>
                                @drug.DrugID
                            </td>
                            <td>
                                @drug.DrugName
                            </td>
                            <td>
                                @drug.DosID
                            </td>
                            <td>
                                @drug.Freq
                            </td>
                            <td>
                                @drug.Quantity
                            </td>
                            <td>
                                @drug.Days
                            </td>
                            <td>
                                @drug.Total
                            </td>
                            <td>
                                @drug.Remark
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
    <!-- 領藥按鈕 -->
    <div class="row d-flex flex-row mx-3">
        @*空白*@
        <div class="col-8"></div>
        @*按鈕*@
        <div class="col-4 d-flex justify-content-center">
            <button class="BS-btn SC-input-button-form_submit btn m-4 p-2" style="width:220px;height:60px;">
                @*id="Post"*@
                完成領藥
            </button>
        </div>
    </div>
    @*var DrugDate = @Model.DrugDate;*@
</div>
@section Script{
    <script>
        const DrugDate = "@Model.DrugDate";

        function SearchKey(event) {
            var search = document.getElementById("search");
            

            if (event.key == "Enter") {
                //window.location.assign(`https://${location.hostname}:${location.port}/Pharmacy/PharmacyDetailsSearch?q=${search.value}`);
                if (DrugDate = null) {
                    window.location.assign(`https://${location.hostname}:${location.port}/Pharmacy/PharmacyDetailsSearch?q=${search.value}`);
                }
                //else {
                //    Swal.fire({
                //        icon: 'error',
                //        title: 'Oops...',
                //        text: '輸入值有錯或是已領過藥了',
                //        footer: '<a href="">Why do I have this issue?</a>'
                //    })
                //}

            }
        }

    </script>
}

