@model TTMH_EDA_HIS.ViewModels.CPOEsChartListViewModel
@{
}
@section CSS{
    <link rel="stylesheet" href="~/css/theme.css" asp-append-version="true" />
    <style>

    </style>
}

<div class="row">
    <div class="container-lg col-11 py-4">
        <form asp-action="ChartList" asp-route-id="" method="post" class="d-flex row">
            <div class="form-group col" method="post">
                <input type="text" asp-for="content" class="form-control AT-fs-25">
            </div>
        </form>
    </div>
</div>
<div class="row">
    <table class="container-lg col-11">
        <thead>
            <tr>
                <th class="text-white AT-bg-secondary-emphasis AT-fs-35 col-2 ps-5 py-2 AT-rounded-1-top-left">
                    編號
                </th>
                <th class="text-white AT-bg-secondary-emphasis AT-fs-35 col-3 py-2">
                    病歷編號
                </th>
                <th class="text-white AT-bg-secondary-emphasis AT-fs-35 col-2 py-2">
                    病患姓名
                </th>
                <th class="text-white AT-bg-secondary-emphasis AT-fs-35 col-2 py-2">
                    性別
                </th>
                <th class="text-white AT-bg-secondary-emphasis AT-fs-35 col-1 py-3">
                </th>
                <th class="text-white AT-bg-secondary-emphasis AT-fs-35 col py-2 AT-rounded-1-top-right">
                </th>
            </tr>
        </thead>
        <tbody class="CT-tbody-ColorInterval">
            @foreach(Patient i in Model.Patients)
            {
                <tr>
                    <td>
                        @i.PatientId
                    </td>
                    <td>
                        @i.CaseHistory
                    </td>
                    <td>
                        @i.PatientName
                    </td>
                    @if (i.Gender == "1")
                    {
                        <td>男</td>
                    }
                    else
                    {
                        <td>女</td>
                    }
                    <td>
                    </td>
                    <td>
                        <a href="~/CPOEs/PatientDetails/CHistory=@i.CaseHistory" class="text-white BS-btn AT-bg-primary-deep btn btn-lg">進入看診</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
@if (Model.UseButtonGp)
{
    <div class="row">
        <div class="container-lg col-11 py-4">
            <div class="row">
                <div class="btn-group mx-auto" style="width:300px">
                    <a asp-route-id="@Model.previous_page" class="btn AT-bg-primary-emphasis AT-fg-secondary-emphasis">上一頁</a>
                    <a asp-route-id="@Model.page1" class="btn text-white AT-bg-secondary-emphasis active" aria-current="page">@Model.page1</a>
                    <a asp-route-id="@Model.page2" class="btn AT-bg-primary-emphasis AT-fg-secondary-emphasis">@Model.page2</a>
                    <a asp-route-id="@Model.page3" class="btn AT-bg-primary-emphasis AT-fg-secondary-emphasis">@Model.page3</a>
                    <a asp-route-id="@Model.next_page" class="btn AT-bg-primary-emphasis AT-fg-secondary-emphasis">下一頁</a>
                </div>
            </div>
        </div>
    </div>
}

