@model TTMH_EDA_HIS.ViewModels.CPOEsChartListViewModel
@{
}
<div class="row">
    <div class="container-lg col-11 py-4">
        <form asp-action="ChartList" asp-route-id="" method="post" class="d-flex row">
            <div class="form-group col" method="post">
                <input type="text" asp-for="content" class="form-control ED-Font-Size-1">
            </div>
        </form>
    </div>
</div>
<div class="row">
    <table class="container-lg col-11">
        <thead>
            <tr>
                <th class="text-white ED-bigger-title3 col-2 bg-secondary ps-5 py-2 rounded-4-top-left">
                    編號
                </th>
                <th class="text-white ED-bigger-title3 col-3 bg-secondary py-2">
                    病歷編號
                </th>
                <th class="text-white ED-bigger-title3 col-2 bg-secondary py-2">
                    病患姓名
                </th>
                <th class="text-white ED-bigger-title3 col-2 bg-secondary py-2">
                    性別
                </th>
                <th class="text-white ED-bigger-title3 col-1 bg-secondary py-3">
                </th>
                <th class="text-white ED-bigger-title3 col bg-secondary py-2 rounded-4-top-right">
                </th>
            </tr>
        </thead>
        <tbody class="ED-tbody-ColorInterval ED-tbody-Lasttd-RightSide">
            @foreach(Patient i in Model.Patients)
            {
                <tr>
                    <td>
                        @i.PatientId
                    </td>
                    <td>
                        @i.CaseHistory
                    </td>
                    <td>
                        @i.PatientName
                    </td>
                    @if (i.Gender == "1")
                    {
                        <td>男</td>
                    }
                    else
                    {
                        <td>女</td>
                    }
                    <td>
                    </td>
                    <td>
                        <a asp-action="PatientDetails" asp-route-id="@i.CaseHistory" class="text-white btn btn-primary-emphasis btn-lg ED-Font-Size-1">進入看診</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
@if ((bool)ViewData["UseButtonGp"])
{
    <div class="row">
        <div class="container-lg col-11 py-4">
            <div class="row">
                <div class="btn-group mx-auto" style="width:300px">
                    <a asp-route-id="@ViewData["previous"]" class="btn btn-primary text-secondary">上一頁</a>
                    <a asp-route-id="@ViewData["pg1"]" class="btn btn-primary active" aria-current="page">@ViewData["pg1"]</a>
                    <a asp-route-id="@ViewData["pg2"]" class="btn btn-primary text-secondary">@ViewData["pg2"]</a>
                    <a asp-route-id="@ViewData["pg3"]" class="btn btn-primary text-secondary">@ViewData["pg3"]</a>
                    <a asp-route-id="@ViewData["next"]" class="btn btn-primary text-secondary">下一頁</a>
                </div>
            </div>
        </div>
    </div>
}

