@model TTMH_EDA_HIS.ViewModels.CPOEsPatientDetailsViewModel
@{
    string vdate = $"{Model.chart.Vdate.Year}/{Model.chart.Vdate.Month.ToString()}/{Model.chart.Vdate.Day.ToString()}";
}
@section CSS{
    <link rel="stylesheet" href="~/css/theme.css" asp-append-version="true" />
    <style>
        .CT-tbody-ColorInterval tr > td:first-child {
            padding: 20px 0px 20px 20px;
        }
        .CT-tbody-ColorInterval tr:nth-of-type(odd) > td input{
            background-color: #BCEFEE;
        }
        .CT-tbody-ColorInterval tr:nth-of-type(even) > td input{
            background-color: #AAD7D6;
        }
        .SC-input-button-form_submit {
            background-color: #4443a3;
            border-radius: 10px;
            border: 0px solid;
            color: white;
            font-size: 27px;
            padding: 15px;
            width: 85%;
        }
        .SC-input-button-form_submit:hover {
            background-color: #5554b4;
        }
        .SC-input-button-form_submit:focus {
            background-color: #5554b4;
        }
        .SC-block {
            border:none;
            height:150px;
            overflow:scroll;
        }
        @@media (max-width:1700px) {
            .SC-input-button-form_submit{
                font-size:20px !important;
            }
            .CT-tbody-ColorInterval tr > td {
                font-size: 22px !important;
            }
            .SC-block{
                font-size: 30px !important;
            }
        }
        @@media (max-width:1300px) {
            .SC-input-button-form_submit{
                font-size:20px !important;
            }
            .CT-tbody-ColorInterval tr > td {
                font-size: 25px !important;
            }
            .MD-adjust-1{
                width: 100%;
                margin-top: 10px;
            }
        }
        @@media (max-width:900px) {
            .MD-adjust-2{
                width: 100%;
                margin-top: 10px;
            }
        }
    </style>
}

<div class="row">
    <div class="container-lg col-11 py-4">
        <div class="row">
            <div class="col-4 MD-adjust-1">
                <div class="row">
                    <div class="col">
                        <div class="AT-rounded-1 AT-bg-fourth" style="height:230px;">
                            <div class="AT-fs-30 text-secondary px-3 py-2">
                                病歷號碼
                            </div>
                            <div class="bg-secondary AT-hr"></div>
                            <div name="" id="" class="SC-block AT-bg-fourth AT-fs-40 d-flex align-items-center justify-content-center">
                                @Model.CaseHistory
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row mt-4">
                    <div class="col-6 MD-adjust-2">
                        <div class="AT-rounded-1 AT-bg-fourth" style="height:230px;">
                            <div class="AT-fs-30 text-secondary px-3 py-2">
                                就診號
                            </div>
                            <div class="bg-secondary AT-hr"></div>
                            <div name="" id="" class="SC-block AT-bg-fourth AT-fs-25 d-flex align-items-center justify-content-center">
                                @Model.chart.ChaId
                            </div>
                        </div>
                    </div>
                    <div class="col-6 MD-adjust-2">
                        <div class="AT-rounded-1 AT-bg-fourth" style="height:230px;">
                            <div class="AT-fs-30 text-secondary px-3 py-2">
                                病患姓名
                            </div>
                            <div class="bg-secondary AT-hr"></div>
                            <div name="" id="" class="SC-block AT-bg-fourth AT-fs-40 d-flex align-items-center justify-content-center">
                                @Model.PatientName
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row mt-4">
                    <div class="col-6 MD-adjust-2">
                        <div class="AT-rounded-1 AT-bg-fourth" style="height:230px;">
                            <div class="AT-fs-30 text-secondary px-3 py-2">
                                年齡
                            </div>
                            <div class="bg-secondary AT-hr"></div>
                            <div name="" id="" class="SC-block AT-bg-fourth AT-fs-40 d-flex align-items-center justify-content-center">
                                @Model.Age
                            </div>
                        </div>
                    </div>
                    <div class="col-6 MD-adjust-2">
                        <div class="AT-rounded-1 AT-bg-fourth" style="height:230px;">
                            <div class="AT-fs-30 text-secondary px-3 py-2">
                                病患性別
                            </div>
                            <div class="bg-secondary AT-hr"></div>
                            @if (Model.Gender=="1")
                            {
                                <div name="" id="" class="SC-block AT-bg-fourth AT-fs-40 d-flex align-items-center justify-content-center text-primary">
                                    男
                                </div>
                            }
                            else
                            {
                                <div name="" id="" class="SC-block AT-bg-fourth AT-fs-40 d-flex align-items-center justify-content-center text-danger">
                                    女
                                </div>
                            }
                        </div>
                    </div>
                </div>
                <div class="row mt-4">
                    <div class="col-6 MD-adjust-2">
                        <div class="AT-rounded-1 AT-bg-fourth" style="height:230px;">
                            <div class="AT-fs-30 text-secondary px-3 py-2">
                                出生年月日
                            </div>
                            <div class="bg-secondary AT-hr"></div>
                            <div name="" id="" class="SC-block AT-bg-fourth AT-fs-40 d-flex align-items-center justify-content-center">
                                @Model.BirthDate
                            </div>
                        </div>
                    </div>
                    <div class="col-6 MD-adjust-2">
                        <div class="AT-rounded-1 AT-bg-fourth" style="height:230px;">
                            <div class="AT-fs-30 text-secondary px-3 py-2">
                                看診日期
                            </div>
                            <div class="bg-secondary AT-hr"></div>
                            <div name="" id="" class="SC-block AT-bg-fourth AT-fs-40 d-flex align-items-center justify-content-center">
                                @vdate
                            </div>
                        </div>
                    </div>
                </div>
            </div>


            <div class="col-8 MD-adjust-1">
                <div class="row d-flex justify-content-between">
                    <div class="col-5 d-flex justify-content-between MD-adjust-2">
                        <button class="BS-btn SC-input-button-form_submit btn" style="width:47%;">
                            送出紀錄
                        </button>
                        <button class="BS-btn SC-input-button-form_submit btn" style="width:47%;">
                            重新列印
                        </button>
                    </div>
                    <div class="col-6 d-flex justify-content-between MD-adjust-2">

                        <a href="@Url.Action("PatientDetails","CPOEs",new{CaseHistory=Model.CaseHistory,ChaID=Model.FirstChart})" class="BS-btn SC-input-button-form_submit btn" style="width:13%">
                            &lt;&lt;
                        </a>
                        <a href="@Url.Action("PatientDetails","CPOEs",new{CaseHistory=Model.CaseHistory,ChaID=Model.PreviousChart})" class="BS-btn SC-input-button-form_submit btn" style="width:13%">
                            &lt;
                        </a>
                        <div class="dropdown-center" style="width:35%;margin-left:5%;">
                            <button class="SC-input-button-form_submit BS-btn btn dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                                就診紀錄
                            </button>
                            <ul class="dropdown-menu ">
                                @for(int i = 0; i < Model.RecordsOfvdate.Count; i++)
                                {
                                    <li><a href="@Url.Action("PatientDetails","CPOEs",new{CaseHistory=Model.CaseHistory,ChaID=Model.RecordsOfChaID})" class="dropdown-item AT-fs-25">@Model.RecordsOfvdate[i]</a></li>
                                }
                            </ul>
                        </div>
                        <a href="@Url.Action("PatientDetails","CPOEs",new{CaseHistory=Model.CaseHistory,ChaID=Model.NextChart})" class="BS-btn SC-input-button-form_submit btn" style="width:13%">
                            &gt;
                        </a>
                        <a href="@Url.Action("PatientDetails","CPOEs",new{CaseHistory=Model.CaseHistory,ChaID=Model.LastChart})" class="BS-btn SC-input-button-form_submit btn" style="width:13%">
                            &gt;&gt;
                        </a>            
                    </div>           
                </div>

                <div class="row mt-3">
                    <div class="col-6">
                        <div class="AT-rounded-1 AT-bg-fourth" style="height:230px;">
                            <div class="AT-fs-30 text-secondary px-3 py-2">
                                病患自述(Subject)
                            </div>
                            <div class="bg-secondary AT-hr"></div>
                            <textarea name="" id="" class="SC-block AT-bg-fourth AT-fs-35 d-flex align-items-center justify-content-center w-100"  style="resize:none;">@Model.chart.Subject</textarea>
                        </div>
                    </div>
                    <div class="col-6">
                        <div class="AT-rounded-1 AT-bg-fourth" style="height:230px;">
                            <div class="AT-fs-30 text-secondary px-3 py-2">
                                過去病史(History)
                            </div>
                            <div class="bg-secondary AT-hr"></div>
                            <div name="" id="" class="SC-block AT-bg-fourth AT-fs-35 d-flex align-items-center justify-content-center w-100" style="overflow:scroll;">
                                @Model.chart.History
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row mt-3">
                    <div class="col">
                        <div class="AT-rounded-1 AT-bg-fourth" style="height:230px;">
                            <div class="AT-fs-30 text-secondary px-3 py-2">
                                入院經過(Object)
                            </div>
                            <div class="bg-secondary AT-hr"></div>
                            <textarea name="" id="" class="SC-block AT-bg-fourth AT-fs-35 d-flex align-items-center justify-content-center w-100" style="resize:none;">@Model.chart.Object</textarea>
                        </div>
                    </div>
                </div>

                <div class="row p-2 mt-2">
                    <table class="">
                        <thead>
                            <tr>
                                <th class="text-white AT-bg-primary AT-fs-30 col-2 ps-4 py-2 AT-rounded-1-top-left">
                                    藥品編號
                                </th>
                                <th class="text-white AT-bg-primary AT-fs-30 col-2 py-2">
                                    藥品名稱
                                </th>
                                <th class="text-white AT-bg-primary AT-fs-30 col-1 py-2">
                                    用法
                                </th>
                                <th class="text-white AT-bg-primary AT-fs-30 col-1 py-2">
                                    頻率
                                </th>
                                <th class="text-white AT-bg-primary AT-fs-30 col-1 py-3">
                                    次量
                                </th>
                                <th class="text-white AT-bg-primary AT-fs-30 col-1 py-3">
                                    天數
                                </th>
                                <th class="text-white AT-bg-primary AT-fs-30 col-1 py-3">
                                    總量
                                </th>
                                <th class="text-white AT-bg-primary AT-fs-30 col-2 py-1 AT-rounded-1-top-right">
                                    備註
                                </th>
                            </tr>
                        </thead>
                        @{
                            int DrugRowIndex = -1;
                        }
                        <tbody class="CT-tbody-ColorInterval">
                            @foreach(TTMH_EDA_HIS.ViewModels.CPOEsPatientDetailsViewModel_DrugTableTD i in Model.Drugs)
                            {
                                <tr>
                                    <td id="Drugs-0-@(++DrugRowIndex)">
                                        @i.DrugID
                                    </td>
                                    <td id="Drugs-1-@DrugRowIndex">
                                        @i.DrugName
                                    </td>
                                    <td id="Drugs-2-@DrugRowIndex">
                                        @i.DosID
                                    </td>
                                    <td id="Drugs-3-@DrugRowIndex">
                                        @i.Freq
                                    </td>
                                    <td id="Drugs-4-@DrugRowIndex">
                                        @i.Quantity
                                    </td>
                                    <td id="Drugs-5-@DrugRowIndex">
                                        @i.Days
                                    </td>
                                    <td id="Drugs-6-@DrugRowIndex">
                                        @i.Total
                                    </td>
                                    <td id="Drugs-7-@DrugRowIndex">
                                        @i.Remark
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
@section Script{
    <script>
        let DrugRowIndex = @DrugRowIndex ; //Backend to Frontend
        let tbody = document.querySelector(".CT-tbody-ColorInterval");

        function AddInputRow() {
            let td_placeholder=["DrugID","DrugName","DosID","Freq","Quty","Days","Total","Remark"];
            let api_href=["https://localhost:7233/api/CPOEsAPI/SearchDrugID","https://localhost:7233/api/CPOEsAPI/SearchDrugName","https://localhost:7233/api/CPOEsAPI/SearchDosID"];
            DrugRowIndex++;
            let entry_tr=document.createElement("tr");
            for(var i=0;i<8;i++){
                let id = `Drugs-${i}-${DrugRowIndex}`;

                let td=document.createElement("td");
                td.setAttribute("id",id);
                

                let form_group=document.createElement("div");
                form_group.setAttribute("class","form-group");


                let entry=document.createElement("input");
                entry.setAttribute("id","input-"+id);
                entry.setAttribute("list","data-"+id);
                entry.setAttribute("type","text");
                entry.setAttribute("style","width:85%;border:none;opacity:0.5;");
                entry.setAttribute("class","form-control AT-fs-25");
                entry.setAttribute("placeholder",td_placeholder[i]);
                if(i>=3 && i<=6){
                    entry.setAttribute("type","number");
                }

                let datalist=document.createElement("datalist");
                datalist.setAttribute("id","data-"+id);
                
                if (i<3){
                    let current_row=DrugRowIndex;
                    let current_col=i;
                    let href=api_href[i];
                    entry.addEventListener("input",()=>{
                        let input = document.getElementById("input-"+id);
                        let datalist = document.getElementById("data-"+id);
                        let input_value = input.value;
                        fetch(href,{
                            method:"POST",
                            headers:{
                                "Content-Type":"application/json",
                                "Accept":"application/json"
                            },
                            redirect:"follow",
                            credentials:"include",
                            timeout:5000,
                            body:JSON.stringify({
                                "SearchKey": input_value
                            })
                        }).then(
                            (response)=>{
                                return response.json();
                            }
                        ).then(
                            (data)=>{
                                console.log(`${href} \n`+JSON.stringify(data));
                                let Alloptions=document.querySelectorAll(`#data-${id} > option`);
                                for(var k of Alloptions){
                                    k.remove();
                                }
                                for(var j of data["result"]) {
                                    var option=document.createElement("option");
                                    option.innerHTML=j;
                                    option.setAttribute("id",`#option-${id} > option`);
                                    datalist.appendChild(option);
                                }
                                if(input_value==data["result"][0]){
                                    if(current_col==0){
                                        document.getElementById(`input-Drugs-1-${current_row}`).value=data["relatives"][0];
                                    }
                                    if(current_col==1){
                                        document.getElementById(`input-Drugs-0-${current_row}`).value=data["relatives"][0];
                                    }
                                }
                            }
                        );
                    });
                }
                form_group.appendChild(entry);
                form_group.appendChild(datalist);
                td.appendChild(form_group);
                entry_tr.appendChild(td);
            }
            tbody.appendChild(entry_tr);
        }

        window.onload=()=>{
            AddInputRow();
        };
    </script>
}